.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: #ffffff;
    background-color: #52514e;
}

.navbar-options-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}