<div class="login-page">
  <div class="login-card">
    <h1 class="account-login-heading">Account Login</h1>
    <div class="form-card">
      <input type="email" placeholder="Email" class="input" [(ngModel)]="emailInput"/>
      <p class="email-visibility">{{emailInput}}</p>
      <input type="password" placeholder="Password" class="input" [(ngModel)]="passwordInput"/>
      <p class="password-visibility">{{passwordInput}}</p>
      <button class="login-button">Login</button>
    </div>
    <p class="signup-matter">Don't have an account <a class="signup-route" routerLink="/signup">Sign Up</a></p>
  </div>
</div>
